* {
    box-sizing: border-box;

}

html {
    background-color:rosybrown;
}

h1 {
    color:darkmagenta;
    width: auto;
    text-align: center;  
}

#main-text {
    margin-left: 10%;
    text-align:center;
    width: 80%;  
}

/* .grid {
    display: grid;
    width: 100%;
    grid-template-columns:minmax(flex);
} */
.snippets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;

}

.card {
    padding: 10px;
    border-style: dashed;
    width: 300px;
    margin-top: 20px;
    position: relative;
    
    
}

.card header {
    position: relative;
    margin-top: -10%;
    text-align: center;
    font-size: 200%;
    border-style: solid;
    border-radius: 10px;
    background-color: rosybrown;
   
    

}

pre {
   text-align: left;
   white-space: pre-line;
    font-family: 'Courier New', 'Courier', monospace, serif;
    background-color:mediumvioletred;  
    height: 150px;  

}